.background-gift {
  background: url(../img/background_gift_2.png);
  background-position: center top;
  background-size: cover;
}

.gift-name--box {
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    padding: 0 2%;
    background: #fff;
    color: #dd0829;
    font-size: 1.2rem;
    line-height: 2;
    font-weight: bold;
    border-radius: 100px;
}

// .gift-img-normal {
//   width: 50%!important;
// }

#tuirut-gift {
  transform: translate(-50%, -50%) rotate(20deg);
}
#tuitote-gift {
  width: 50%;
}



/*==================== MEDIA QUERIES ====================*/
/* PC: width >= 1024px */
@media (min-width: 64em) {
}

/* Tablet and mobile: width < 1024px */
@media (max-width: 64.625em) {
}

/* Tablet: width >= 740px and width < 1024px */
@media (min-width: 46.25em) and (max-width: 64.625em) {

}

/* Mobile: width < 740px */
@media (max-width: 46.1875em) {
  .gift-name--box {
    font-size: .8rem;
  }
}
