@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
.phone{
  padding: 10px 5rem 10px 40px;
  position: relative;
  border-radius: 10px;
  margin-top:1rem;
}
.ninjaphone-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top:2rem;
}
.font15{
  font-size: 15px;
} 
/*==================== MEDIA QUERIES ====================*/
/* PC: width >= 1024px */
@media (min-width: 64em) {
 
}

/* Tablet and mobile: width < 1024px */
@media (max-width: 64.625em) {

   
}

/* Tablet: width >= 740px and width < 1024px */
@media (min-width: 46.25em) and (max-width: 64.625em) {
  
}

/* Mobile: width < 740px */
@media (max-width: 46.1875em) {
  
}


