

.ninjaPhone-img {
  width: 20%;
  margin: 0 auto;
}

.form__input {
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto;
  border-radius: 0.35rem;
  background-color: rgb(255, 255, 255);
  border: none;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.background-phone {
  background: url(../img/background_phone_normal.png);
  background-position: center bottom;
  background-size: cover;
}

/*==================== MEDIA QUERIES ====================*/
/* PC: width >= 1024px */
@media (min-width: 64em) {
  .phone-input {
    width: 25%;
  }
}

/* Tablet and mobile: width < 1024px */
@media (max-width: 64.625em) {
}

/* Tablet: width >= 740px and width < 1024px */
@media (min-width: 46.25em) and (max-width: 64.625em) {
  .phone-input {
    width: 60%;
  }
  .ninjaPhone-img {
    width: 45%;
  }
}

/* Mobile: width < 740px */
@media (max-width: 46.1875em) {
  .ninjaPhone-img {
    width: 70%;
  }
  

}
