.box {
  position: relative;
  display: inline-block;
  cursor: pointer;
  animation: fadeoutboxes 0.8s normal forwards ease-in-out;
}

.box-img {
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s linear;

  &.active {
    animation: jelly 0.5s;
  }

  &_hand {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    visibility: hidden;
    opacity: 0;
  }
}

.light-container-small {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  visibility: hidden;
  opacity: 0;
  animation: spin 10s linear infinite;
}

.light-small {
  display: block;
  border-radius: 5px;
  position: absolute;
  &.horizontal {
    width: auto;
    height: $height-lightbox;
    top: 54%;
    margin-top: -25px;
  }
  &.vertical {
    width: $height-lightbox;
    height: auto;
    left: 54%;
    margin-left: -25px;
  }
  &.left {
    background: linear-gradient(
      to right,
      rgba(237, 242, 22, 0) 0%,
      rgba(237, 242, 22, 0.639093137254902) 33%
    );
    left: 0;
    right: 50%;
    border-radius: 0 50% 50% 0;
  }
  &.right {
    background: linear-gradient(
      to left,
      rgba(237, 242, 22, 0) 0%,
      rgba(237, 242, 22, 0.639093137254902) 33%
    );
    right: 0;
    left: 50%;
    // border-radius: 5px 40px 14px 5px;
    border-radius: 50% 0% 0% 50%;
  }
  &.top {
    background: linear-gradient(
      to bottom,
      rgba(237, 242, 22, 0) 0%,
      rgba(237, 242, 22, 0.639093137254902) 33%
    );
    top: 0;
    bottom: 50%;
    // border-radius: 40px 14px 5px 5px;
    border-radius: 0 0 50% 50%;
  }
  &.bottom {
    background: linear-gradient(
      to top,
      rgba(237, 242, 22, 0) 0%,
      rgba(237, 242, 22, 0.639093137254902) 33%
    );
    top: 50%;
    bottom: 0;
    // border-radius: 5px 5px 40px 14px;
    border-radius: 50% 50% 0 0;
  }
  &.half-left {
    background: linear-gradient(to right, rgba(237, 242, 22, 0) 0%, rgba(237, 242, 22, 0.6390931373) 33%);
    left: 4%;
    border-radius: 0 50% 50% 0;
    transform: rotate(32deg);
    top: 42%;
    width: 50%;
  }
  &.half-right-1 {
    transform: rotate(-58deg);
    background: linear-gradient(to left, rgba(237, 242, 22, 0) 0%, rgba(237, 242, 22, 0.6390931373) 33%);
    left: 34%;
    border-radius: 50% 0% 0% 50%;
    top: 32%;
    width: 50%;
  }
  &.half-right-2 {
    transform: rotate(-34deg);
    background: linear-gradient(to left, rgba(237, 242, 22, 0) 0%, rgba(237, 242, 22, 0.6390931373) 33%);
    left: 44%;
    border-radius: 50% 0% 0% 50%;
    top: 38%;
    width: 50%;
  }
  &.half-top {
    background: linear-gradient(to bottom, rgba(237, 242, 22, 0) 0%, rgba(237, 242, 22, 0.6390931373) 33%);
    top: 3px;
    bottom: 50%;
    border-radius: 0 0 50% 50%;
    transform: rotate(-29deg);
    left: 44%;
    height: 50%;
  }
  &.half-bottom-1 {
    background: linear-gradient(to top, rgba(237, 242, 22, 0) 0%, rgba(237, 242, 22, 0.6390931373) 33%);
    top: 36%;
    bottom: 0;
    border-radius: 50% 50% 0 0;
    transform: rotate(65deg);
    left: 33%;
    height: 50%;
  }
  &.half-bottom-2 {
    background: linear-gradient(to top, rgba(237, 242, 22, 0) 0%, rgba(237, 242, 22, 0.6390931373) 33%);
    top: 45%;
    border-radius: 50% 50% 0 0;
    transform: rotate(33deg);
    left: 40%;
    height: 50%;
  }
  &.half-bottom-3 {
    background: linear-gradient(to left, rgba(237, 242, 22, 0) 0%, rgba(237, 242, 22, 0.6390931373) 33%);
    left: 36%;
    border-radius: 50% 0% 0% 50%;
    top: 79%;
    transform: rotate(60deg);
    width: 50%;
  }
  &.half-bottom-4 {
    background: linear-gradient(to left, rgba(237, 242, 22, 0) 0%, rgba(237, 242, 22, 0.6390931373) 33%);
    left: 48%;
    border-radius: 50% 0% 0% 50%;
    top: 69%;
    transform: rotate(29deg);
    width: 50%;
  }
}

.box:hover .light-container-small,
.box:hover .box-img_hand {
  visibility: visible;
  opacity: 1;
}



