@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600;700&family=Poppins:wght@300;500;700&display=swap');
@import "reset";
@import "variable";
@import "grid";
@import "gift";
@import "special-gift";
@import "index";
@import "info";
@import "phone";
@import "secret-boxes";
@import "animation";



.center {
    text-align: center;
}
.uppercase {
    text-transform: uppercase;
}

.while {
    color: #fff!important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

.font-1 {
    font-size: 2rem!important;
}

.font-2 {
    font-size: 1.2rem!important;
}

.semibold {
    font-weight: 600!important;
}

.bold {
    font-weight: 700!important;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: url(../img/background.jpg);
    background-position: bottom;
    background-size: cover;
    padding: 2rem 4rem;
    overflow: hidden;
    position: relative;
}

.logo {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-end;
    padding: 0 60px;
    margin-bottom: .6rem;

    &-title {
        font-size: 12px;
        font-weight: bold;

    }
}

.logo img{
    width: 13%
}

.title {
    font-size: 1.5rem;
} 

.subtitle {
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
}
/*==================== MEDIA QUERIES ====================*/
/* PC: width >= 1024px */
@media (min-width: 64em) {
 
}

/* Tablet and mobile: width < 1024px */
@media (max-width: 64.625em) {
    .title {
        font-size: 1rem;
        font-weight: 500;
    } 
    
    .subtitle {
        font-size: .7rem;
        font-weight: 300;
        font-style: italic;
    }
    .container {
        padding: 1rem 2rem;
    }
}

/* Tablet: width >= 740px and width < 1024px */
@media (min-width: 46.25em) and (max-width: 64.625em) {
    .logo img{
        width: 20%
    }
}

/* Mobile: width < 740px */
@media (max-width: 46.1875em) {
    .logo img{
        width: 70%
    }

    
}

// /*==================== MEDIA QUERIES ====================*/
// /* PC: width >= 1024px */
// @media (min-width: 64em) {
 
// }

// /* Tablet and mobile: width < 1024px */
// @media (max-width: 64.625em) {

// }

// /* Tablet: width >= 740px and width < 1024px */
// @media (min-width: 46.25em) and (max-width: 64.625em) {

// }

// /* Mobile: width < 740px */
// @media (max-width: 46.1875em) {

// }



